@import url('https://fonts.googleapis.com/css?family=Lato:400, 400i,700');

body {
  overflow-x: hidden; /*All content stays contained within the browser window */
  font-family: 'Lato', sans-serif;
  color: 505962;
}

.offset:before { /* This Accounts for the navbar so the sections switch correctly */
  display: block;
  content:"";
  height: 4rem;
  margin-top: -4rem;
}
/* Navigation Styling */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,0.6)!important;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(5, 66, 231);
}

/* LANDING PAGE STYLEING */

.home-inner {
  background-image: url(../IMG/CompBackground2.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2.5rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}



/*ABOUT ME SECTION */

.card {
  margin: 0 10rem; /* Added */
  
  margin-bottom: 10px; /* Added */
  border-radius: 0;
  border-color: white;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

 .space { /* a little extra padding for the about page */
  padding-bottom: 5rem; 
} 

.headshot img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding-left: 7rem;
  padding-right: 7rem;
}

/* .btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .4em 1.2rem;
  margin: 1rem;
  color: white;
} */


/* PROJECTS */
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
font-size: 1.9rem;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  margin: 0 auto 2rem;
  background-color: rgb(5, 66, 231);
}

.feature svg.svg-inline--fa {
  color: rgb(5, 66, 231);
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;

}

/* Start of Quote Section */
.fixed {
  background-image: url(../Img/CompImg.jpg);
  z-index: -1;
}
.dark {
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 9rem 1.5rem 8rem;
  margin: 0 auto 5rem;
}
.fixed-background blockquote {
  margin-bottom: 2rem;
  font-size: 1.5rem;

}

/* CONTACT */

footer {
  background-color: #40474e;
  color: white;
  padding: 10rem 0 2rem;
  margin-top: -5rem;
}
footer a {
  color: white
}

footer h3 {
  margin: 0 auto 2rem;
}

footer p {
  font-size: 1.2rem;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color:rgb(5, 66, 231)!important;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}

/* MEDIA ADJUSTMENTS */
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  
  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
}